<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
  <link rel="icon" href="{{ site.baseurl }}/assets/images/seal.ico" type="image/x-icon">
  <style>
    footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
    }
    .language-flags {
      display: flex;
      gap: 15px;
      margin-left: auto; /* Push the flags to the right */
    }
  </style>
</head>
<body>
  <header>
    <h1>
      <a href="{{ site.url | default: site.baseurl }}" style="display: flex; align-items: center;">
        <img src="{{ site.logo | relative_url }}" alt="Logo" style="height: 40px; margin-right: 10px;">
        {{ site.title }}
      </a>
    </h1>
    <nav>
      <ul>
        {% for item in site.data.navigation %}
         <li><a href="{{ item.url | relative_url }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <a href="https://www.berkeley.edu/">
      <img src="https://juliocedillo.github.io/neweconomy/assets/images/berkeleylogo.png" style="width: 150px; margin-right: 20px;">
    </a>
    <p>&copy; {{ "now" | date: "%Y" }} Armando Lara-Millán. 保留所有权利.</p>

    <div class="language-flags">
      <a href="https://juliocedillo.github.io/neweconomy/">EN</a>
      <a href="https://juliocedillo.github.io/neweconomy-es/">ES</a>
      <a href="https://juliocedillo.github.io/neweconomy/">中文</a>
  </div>
  </footer>
</body>
</html>
